# Основные зависимости
Django==4.2.0
Pillow==9.5.0

# PostgreSQL (опционально)
psycopg2-binary==2.9.6

# Переменные окружения
python-dotenv==1.0.0

# Для обработки HTML (опционально)
bleach==6.0.0  # Для очистки HTML